
@model Movie

@{
    ViewData["Title"] = "Home Page";
}

<!-- Add a reference to the jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
    body {
        background-color: #F7DC6F;
    }

    .jumbotron {
        background-color: #2980B9;
        color: yellow;
        text-align: center;
        padding: 100px;
        border-radius: 30px;
        box-shadow: 20px 20px 15px black;
        max-width:contain;
        max-height: auto;
        margin-right: 30px;
        margin-left: 30px;

    }

        .jumbotron h1 {
            font-size: 4rem;
            font-weight: bold;
            margin-bottom: 30px;
            font-family: Candara, sans-serif;
            text-shadow: 5px 5px 2px black;
        }
        .jumbotron h2 {
            font-size: 3rem;
            font-weight: bold;
            margin-bottom: 30px; 
            font-family: Candara, sans-serif;
            text-shadow: 5px 5px 2px black;
        }
        .jumbotron p {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 30px;
            font-family: Candara, sans-serif;
            text-shadow: 5px 5px 2px black;
        }

    .hidden {
        display: none;
    }

    #generateMovie:hover {
        transform: scale(1.25);
    }

    #generatingMessage{
        padding-top: 25px;
    }

</style>

<div class="jumbotron">
    <h1>Top 100 ranked movies!</h1>
    <h2>What Movie Should You Watch Next?</h2>
    <p>Press the clapper to find out!</p>

    <form method="get" action="@Url.Action("Index", "Movie")" id="movieForm">
        <img src="~/images/clapperboard.jpg" alt="Generate Movie" id="generateMovie" style="cursor: pointer; width: 100px; height: 100px;" />
        <p id="generatingMessage" class="hidden">Generating your next movie...</p>
    </form>
</div>

<script>
    $(document).ready(function () {
        $("#generateMovie").on("click", function () {
            $("#generatingMessage").removeClass("hidden");
            setTimeout(function () {
                $('#movieForm').submit();
            }, 1000);
        });
    });
</script>
